<% provide :title, t(".help")%>
<p>
  <%= t ".get" %>
  <%= link_to t(".link1"), "http://www.railstutorial.org/help" %> <%= t (".onn") %>
  <%= link_to t(".link2"), "http://www.railstutorial.org/book" %>book.
  <%= t ".get" %>
  <%= link_to t(".link1"), "http://www.railstutorial.org/help" %> <%= t (".onn") %>
  <%= link_to t(".link2"), "http://www.railstutorial.org/book" %>
  book</a>.
</p>
