<% provide :title, t(".hi")%>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t "micro_feed" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t ".welcome" %></h1>
    <%= link_to "English", locale: "en" %>
    <%= link_to "Vietnamese", locale: "vi" %>
    <h2>
      <%= t ".this" %>
      <%= link_to t(".muoi"), "http://www.railstutorial.org/" %>
    </h2>
    <%= link_to t(".sig"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>
<div class="container">
  <div id="content">
    <div class="sc-content">
      <div class="pageMarketing">
        <div class="row">
          <div class="col-md-4">
            <img src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/cover-web.png" alt="Cover Web">
          </div>
          <div class="col-md-6">
            <h1> <%= t ".muoi" %></h1>
            <%= link_to t(".link1"),"http://www.railstutorial.org/" %> <%= t ".rails" %></a>
            <br/>
            <h3> <%= t ".title" %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
