<div class="container">
<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".muoi"), "http://www.railstutorial.org/" %>
    <%= t ".by" %> <%= link_to t(".mh"), "https://www.michaelhartl.com/" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), "http://www.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
</div>
