<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= link_to "English", locale: "en" %>
    <%= link_to "Vietnamese", locale: "vi" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
